body{
    background-color: black;
    color: aquamarine;
    font-family: "Verdana" sans-serif;
    margin: 0px;
}
h1{
    color: blanchedalmond;
    font-size: 40px;
}

p{
    font-size: 25px;
}

header{
    border-bottom: solid 3x rgb(21,189, 35);
    margin: 2px;
    padding: 10px;
    color: azure;
}
  .chamada{
    background: rgb(237, 100, 210);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  .chamada-texto(
    margin-right: 8%;
    
  )